predictions_service/venv
predictions_service/__pycache__

predictions_service/classifier_model/dataset
predictions_service/classifier_model/processed_dataset
predictions_service/classifier_model/venv

.VSCodeCounter
